body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
}

header {
    display: flex;
    background-color: #1b1212;
    color: white;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

ul {
    display: flex;
    margin: 8px;
    gap: 25px;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0 50px 50px 50px;
    background-color: #d7a88b;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1212;
    color: white;
    height: 50px;
    margin-top: calc(auto);
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: auto;
    max-width: 700px;
    height: 500px;
    border-radius: 15px;
    border: 5px solid #EFCFA0;
}

figure {
    flex: 0 1;
}


.fixed-column {
    flex: 0 0 20px;
}

.top-navbar {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.intro-header {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    gap: 150px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.top-section-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-subtitle {
    font-size: 24px;
    text-transform: uppercase;
    font-style: Bold;
    background-color: #1b1212;
    padding: 15px;
    border-radius: 5px;
    color: white;   
}

.founder-quote {
    background-color: #1b1212;
    padding: 15px;
    color: white;
    border-radius: 15px;
    font-style: italic;
}

.quotee {
    font-size: 20px;
    font-style: italic;
}

.main-quote {
    padding: 15px;
    background-color: #1b1212;
    color:white;
    font-size: 20px;
    border-radius: 15px;
    justify-content: end;
}

.main-quoter-journalist {
    font-size: 20px;
    color: black;
    align-self: flex-end;
}

.header-signup-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3882f6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    margin: 5px;
}

.call-to-action {
    display: flex;
    color: white;
    background-color: #1b1212;
    padding: 10px;
    padding-right: 15px;
    width: 600px;
    justify-content: space-between;
    border-radius: 15px;
    gap: 8px;
}

#header-image {
    max-width: 100vh;
    height: auto;
    opacity: 0.7;
    border: none;
}

#header-title {
    font-size: 58px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#title-bar {
    font-size: 24px;
    color: #EFCFA0;
    font-style: italic;
}

#euro-car {
    display: inline;
    font-style: bold;
    color: #EFCFA0;
}

#call-signup-button {
    font-size: 15px;
    background-color:#EFCFA0;
    color: black;
    font-style: bold;
    width: 130px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    height: 30px;
    align-self: center;
}
